{% extends "base.html" %}

{% block content %}
<h1>Listado</h1>
<table id="listar_material" class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Opciones</th>
        </tr>
        </thead>
</table>
<script>
    $(document).ready( function () {
        $('#listar_material').DataTable({
        scrollX: true,
        responsive: true,
        autoWidth: false,
        destroy: true,
        deferRender: true,
        ajax: {
            url: window.location.pathname,
            type: "GET",
            dataType:"json",
            dataSrc:"",
        },
        columns : [
            {"data":"id"},
            {"data":"name"},
            {
                data: 'options',
                render: function(data,type,row){
                        var buttons = '<div class=row>'+'<a href="/material/update/' + row.id + '/"class="btn btn-warning mr-1"><i class="fas fa-edit"></i></a>';
                        buttons += '<a href="/material/delete/' + row.id + '/"class="btn btn-danger"><i class="fas fa-trash"></i></a>'+ '</div>';
                        return buttons;
                },

            },
        ],
        initComplete: function(settings,json){

        }

    });
    });
    
</script>
{% endblock content %}