{% extends "base.html" %}

{% block content %}
<h1>Listado</h1>
<table id="listar_compras" class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre cliente</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </tr>
        </thead>
</table>

<script>
    $(document).ready( function () {
        
        $('#listar_compras').DataTable({
        scrollX: true,
        responsive: true,
        autoWidth: false,
        destroy: true,
        deferRender: true,
        ajax: {
            url: window.location.pathname,
            type: "GET",
            dataType:"json",
            dataSrc:"",
        },
        columns : [
            {"data":"id"},
            {"data":"client.name"},
            {"data":"total_value",
                render: function(data,type,row){
                    return `<p> ${new Intl.NumberFormat('co-CO', {style: "currency", currency: "COP"}).format(row.total_value)}</p>`;
                }
            },
            {"data":"creation_date"},
            {
                data: 'options',
                render: function(data,type,row){
                        var buttons = '<div class=row>'+'<a href="/compras/update/' + row.id + '/"class="btn btn-warning mr-1"><i class="fas fa-edit"></i></a>';
                        buttons += '<a href="/compras/delete/' + row.id + '/"class="btn btn-danger"><i class="fas fa-trash"></i></a>'+ '</div>';
                        buttons += '<a href="/compras/pdf/' + row.id + '/"class="btn btn-success"><i class="fas fa-print"></i></a>'+ '</div>';

                        return buttons;
                },

            },
        ],
        initComplete: function(settings,json){

        }

    });
    });
    
</script>
{% endblock content %}