<style>
    @page {
        size: A4 landscape;
        margin: 30px;
    }
</style>
</head>

<body>
    <p style="font-size: 45px; margin-bottom:-40px;text-align: center;">Excedentes Itagui</p>

    <table>
        <tr>
            <td style="font-size: 10px; text-align: center;">
                Fecha: {{fecha}}
            </td>
            <td style="font-size: 10px; text-align: center;">Cliente: {{client}}</td>
        </tr>
    </table>

    <table border="1px">
        <tr class="heading">
            <td>DETALLE</td>
            <td>KILOS</td>
            <td>VALOR UNIT.</td>
            <td>TOTAL</td>
        </tr>

        {% for i in data %}
        <tr class="item">
            <td>{{ i.material.name }}</td>
            <td>{{ i.kilos }}</td>
            <td>{{ i.unit_value }}</td>
            <td>{{ i.total }}</td>
        </tr>
        {% endfor %}
    </table>
    <p style="position:relative; float: right;">Total: ${{total}}</p>
    </div>
</body>

</html>