<style>
    @page {
        size: A4 portrait;
        margin: 30px;
    }
    p{
        margin-bottom: -40px;
    }
    .center-td{
        text-align: center;
        font-size: 15px;
        }
    .item{
        padding: 1px;
        padding-top: 2px;
    }
    @media print {
        @page {
        size: A4 landscape;
        margin: 30px;
        }
        body{
            transform: rotate(90deg);
            max-width: 700px;
            min-width: 700px;
            position: fixed;
            right: -230px;
            top:240px;
        }
        p{
            margin-bottom: 40px;
        }
        .center-td{
            position: relative;

            text-align: center;
            font-size: 15px;
        }
        .item{
            padding: 1px;
        }
    }
</style>
</head>

<body>
    <p style="font-size: 45px;text-align: center;">Excedentes Itagui</p>

    <table>
        <tr>
            <td class="center-td" style="font-size: 15px; text-align: center;">
                Fecha: {{fecha}}
            </td>
            <td class="center-td" style="font-size: 15px; text-align: center;">Cliente: {{client}}</td>
        </tr>
    </table>

    <table border="1px" style="width: 100%;">
        <tr class="heading">
            <td>DETALLE</td>
            <td>KILOS</td>
            <td>VALOR UNIT.</td>
            <td>TOTAL</td>
        </tr>

        {% for i in data %}
        <tr class="item">
            <td>{{ i.material.name }}</td>
            <td>{{ i.kilos }}</td>
            <td>{{ i.unit_value }}</td>
            <td>{{ i.total }}</td>
        </tr>
        {% endfor %}
    </table>
    <p style="position:relative; float: right;">Total: ${{total}}</p>
    </div>
</body>
<script>
    window.print()
    setTimeout(()=>{
        window.location.href = "/compras/create"
    },300);
</script>
</html>